---
import AppLayout from "@layouts/AppLayout.astro";
import Hero from "@components/partials/home/Hero.astro";
import Showcase from "@components/partials/home/Showcase.astro";
import Experience from "@components/partials/home/Experience.astro";
import LatestBlog from "@components/partials/home/LatestBlog.astro";
import Contact from "@components/partials/home/Contact.astro";
import UsefulLinks from "@components/partials/home/UsefulLinks.astro";
import Skills from "@components/partials/home/Skills.astro";
import Tools from "@components/partials/home/Tools.astro";
import SpaceShooter from "@components/ui/SpaceShooter.astro";
import { generatePersonSchema } from "@core/SEO";

export function getStaticPaths() {
	return [{ params: { locale: "en" } }, { params: { locale: "id" } }];
}

const schema = generatePersonSchema();
---

<AppLayout schema={schema}>
	<SpaceShooter />
	<Hero />

	<div class="flex justify-center gap-8" data-aos="fade-up" data-aos-delay="200">
		<Skills />
		<Tools />
	</div>

	<Showcase />

	<Experience />

	<LatestBlog />

	<Contact />

	<UsefulLinks />
</AppLayout>
