---
import AppLayout from "@layouts/AppLayout.astro";
import type { GetStaticPaths, Page, MarkdownInstance } from "astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const blogs = Object.values(import.meta.glob("../../content/blog/*.md", { eager: true }));

	blogs.sort(
		(a, b) =>
			new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime()
	);
	return paginate(blogs, { pageSize: 15 });
};

const { page } = Astro.props as { page: Page<MarkdownInstance<Record<string, any>>> };

const today = new Date();
const oneWeekAgo = new Date(today);
oneWeekAgo.setDate(today.getDate() - 7);
---

<AppLayout>
	<h1 class="text-xl font-bold">Blog</h1>

	<div class="w-full flex flex-col gap-6 px-12">
		<!-- Map Blogs -->
		{
			page.data.map((blog) => {
				const postDate = new Date(blog.frontmatter.date);
				const isNew = postDate >= oneWeekAgo;

				return (
					<div class="flex gap-6 justify-between border-y border-neutral-800 p-3 items-center hover:bg-neutral-800 transition-all ease-in-out">
						<div class="flex items-center gap-6">
							{isNew && <span class="text-emerald-500 animate-blink font-medium">NEW!</span>}
							<a href={blog.url} class="font-bold truncate w-full">
								{blog.frontmatter.title}
							</a>
						</div>
						<div class="text-neutral-600 font-medium text-sm">
							<span>
								{blog.frontmatter.date
									? `[ ${postDate.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })} ]`
									: ""}
							</span>
						</div>
					</div>
				);
			})
		}
	</div>

	<div class="flex justify-center items-center gap-6 my-6">
		{
			page.url.prev && (
				<a href={page.url.prev} class="btn btn-outline btn-secondary">
					&laquo; Previous
				</a>
			)
		}
		{
			page.url.next && (
				<a href={page.url.next} class="btn btn-outline btn-secondary">
					Next &raquo;
				</a>
			)
		}
	</div>
</AppLayout>
