---
import { trans } from "@core/Translator";
import experiences from "@data/experience.json";

const locale = Astro.currentLocale || "en";
---

<section class="my-20 flex w-full flex-col gap-8" data-aos="fade-in">
	<div class="border-border flex flex-col gap-2 border-l-4 pl-4">
		<h2 class="text-xl font-black tracking-widest uppercase">{trans("experience.title", {}, locale)}</h2>
		<p class="text-content/50 text-xs font-bold tracking-tighter uppercase">
			-- {trans("experience.subtitle", {}, locale)}
		</p>
	</div>

	<div class="border-border/10 flex flex-col gap-0 border">
		{
			experiences.map((exp, index) => (
				<div
					class={`group border-border/5 hover:bg-primary/5 border-b p-6 transition-colors last:border-0`}
					data-aos="fade-up"
					data-aos-delay={index * 50}
				>
					<div class="flex flex-col gap-4 md:flex-row md:items-start">
						<div class="flex min-w-[100px] flex-col">
							<span class="border-accent text-accent w-fit border px-2 py-0.5 text-xs font-bold">
								{exp.year}
							</span>
						</div>

						<div class="flex flex-1 flex-col gap-2">
							<div class="flex flex-col">
								<h3 class="text-lg font-bold transition-colors group-hover:underline">{exp.title}</h3>
								<span class="text-xs font-bold text-neutral-500 uppercase">{exp.company}</span>
							</div>

							<p class="text-content/70 max-w-3xl text-xs leading-relaxed md:text-sm">
								{exp.description}
							</p>
						</div>
					</div>
				</div>
			))
		}
	</div>
</section>
