---
import FakeTerminal from "@components/FakeTerminal.astro";
---

<div class="flex flex-col items-center justify-center flex-1 gap-20 py-20 size-full lg:flex-row">
	<div class="flex flex-col flex-1 gap-12">
		<div class="leading-none">
			<p class="text-sm">Hello_! ^_^</p>
			<p class="text-[6rem] font-display text-primary">REASVYN</p>
			<p>I'm a <span class="text-xl font-bold text-black bg-white">Fullstack Web Developer</span></p>
		</div>

		<div class="w-full">
			<p class="leading-normal">
				I'm a passionate <span class="font-bold text-blue-500">Fullstack Web Developer</span> with a strong focus
				on creating <span class="font-medium text-yellow-500">elegant</span>, <span
					class="font-medium text-purple-500">efficient</span
				>, and
				<span class="font-medium text-emerald-500">user-friendly</span> web applications. With a deep love for
				<span class="font-medium text-amber-500">clean code</span> and a keen eye for detail, I specialize in building
				robust solutions using <span class="font-bold text-red-500">Laravel</span>, <span
					class="font-bold text-green-500">NodeJS</span
				> and modern web technologies.
			</p>
		</div>

		<div class="flex w-full gap-6">
			<a href="https://github.com/reasnov" type="button" class="btn btn-primary btn-md"
				>Explore Projects <span class="icon-[tabler--arrow-narrow-right]"></span></a
			>
			<a href="https://linkedin.com/in/reasnov" target="__blank" type="button" class="btn btn-secondary btn-md"
				><span class="icon-[tabler--brand-linkedin]"></span>Connect on LinkedIn</a
			>
		</div>
	</div>

	<div class="flex items-center justify-center flex-1 w-full max-w-full">
		<FakeTerminal />
	</div>
</div>
