---
import { trans } from "@core/Translator";
import links from "@data/links.json";

const locale = Astro.currentLocale || "en";
---

<section class="my-20 flex w-full flex-col gap-8" data-aos="fade-in">
	<div class="flex flex-col gap-2">
		<h2 class="w-fit border-b border-border pb-2 text-xl font-black tracking-widest uppercase">
			&gt;&gt; {trans("useful_links.title", {}, locale)}
		</h2>
		<p class="text-[10px] font-bold text-content/50 uppercase">-- {trans("useful_links.subtitle", {}, locale)}</p>
	</div>

	<div class="grid grid-cols-2 gap-4 md:grid-cols-4">
		{
			links.map((link, index) => (
				<a
					href={link.url}
					target="_blank"
					class="group tui-panel flex flex-col items-center gap-4 border-border/20 text-center transition-all hover:bg-primary/5 hover:border-accent"
					data-aos="fade-up"
					data-aos-delay={index * 50}
				>
					<div class="flex size-12 items-center justify-center border border-border/10 transition-all group-hover:border-accent group-hover:text-accent">
						<span class={`${link.icon} size-6`} />
					</div>
					<div class="flex flex-col gap-1">
						<span class="text-xs font-bold tracking-tight uppercase transition-colors group-hover:text-accent">
							{link.title}
						</span>
						<span class="text-[8px] font-bold tracking-widest text-content/40 uppercase">
							{link.category}
						</span>
					</div>
				</a>
			))
		}
	</div>
</section>
