---
import { trans } from "@core/Translator";
import links from "@data/links.json";

const locale = Astro.currentLocale || "en";
---

<section class="my-20 flex w-full flex-col gap-8" data-aos="fade-in">
	<div class="flex flex-col gap-2">
		<h2 class="border-border w-fit border-b pb-2 text-xl font-black tracking-widest uppercase">
			&gt;&gt; {trans("useful_links.title", {}, locale)}
		</h2>
		<p class="text-content/40 text-[10px] font-bold uppercase">-- {trans("useful_links.subtitle", {}, locale)}</p>
	</div>

	<div class="flex flex-col gap-3">
		{
			links.map((link, index) => (
				<a
					href={link.url}
					target="_blank"
					class="group border-border/10 hover:border-t-cyan hover:bg-t-cyan/5 flex items-center justify-between border-2 p-4 transition-all"
					data-aos="fade-up"
					data-aos-delay={index * 50}
				>
					<div class="flex items-center gap-4">
						<span class={`${link.icon} text-content/40 group-hover:text-t-cyan size-5 transition-colors`} />
						<span class="group-hover:text-t-cyan text-xs font-black tracking-widest uppercase transition-colors">
							{link.title}
						</span>
					</div>
					<div class="flex items-center gap-3">
						<span class="border-t-cyan/20 text-t-cyan/40 group-hover:text-t-cyan/60 border px-1 text-[8px] font-bold tracking-tighter uppercase transition-colors">
							{link.category}
						</span>
						<span class="icon-[tabler--arrow-right] text-content/20 group-hover:text-t-cyan size-3 opacity-0 transition-all group-hover:translate-x-1 group-hover:opacity-100" />
					</div>
				</a>
			))
		}
	</div>
</section>
