/* --- TailwindCSS --- */

@import "tailwindcss";

/* --- Daisy UI --- */

@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "black";
	default: true;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(0% 0 0);
	--color-base-200: oklch(0% 0 0);
	--color-base-300: oklch(26% 0 0);
	--color-base-content: oklch(87.609% 0 0);
	--color-primary: oklch(97% 0 0);
	--color-primary-content: oklch(14% 0 0);
	--color-secondary: oklch(0% 0 0);
	--color-secondary-content: oklch(98% 0 0);
	--color-accent: oklch(59% 0.145 163.225);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(26% 0 0);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(54% 0.245 262.881);
	--color-info-content: oklch(89.04% 0.062 264.052);
	--color-success: oklch(59% 0.145 163.225);
	--color-success-content: oklch(90.395% 0.035 142.495);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(19.359% 0.042 109.769);
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: oklch(12.559% 0.051 29.233);
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

/* --- Iconify Icon Kits --- */

@plugin "@iconify/tailwind4" {
	scale: 1.6;
}

/* --- Custom Variant --- */

@custom-variant dark (&:where(.dark, .dark *));

/* UI Theme */
@theme {
	--font-display: "Plaster", system-ui;
	--font-mono:
		"Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
	:root {
		background-color: white;
		color: black;
	}

	:root.dark {
		background-color: oklch(0% 0 0);
		color: oklch(87.609% 0 0);
	}

	body {
		@apply transition-colors duration-300;
	}
}

/* --- Utilities --- */
@utility animate-blink {
	animation: blink 1.3s ease-in-out infinite;
}

/* --- Keyframes / Animations --- */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
