---
// Libs
import { config } from "@helpers/Config";

interface Props {
	title?: string | null | undefined;
	desc?: string | null | undefined;
	keywords?: string[] | null | undefined;
}

const { title, desc, keywords } = Astro.props;
---

<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content={desc} />
<meta name="keywords" content={keywords?.join(", ")} />

<title>{title ?? config("settings.site_title")}</title>
