---
const { fixed } = Astro.props;
---

<div
	class={`
		navbar border-b
		${fixed ? "fixed" : ""}
	`}
>
	<div class="flex items-center gap-6 container mx-auto justify-between px-3">
		<div class="flex items-center gap-2 text-xs">
			<a href="/" class="font-black">&copy Reas Vyn \</a>
			<a href="/blog">Blog</a>
		</div>

		<div class="flex items-center gap-3">
			<a href="https://github.com/reasnov" target="__blank" class="icon-[tabler--brand-github]"></a>
			<a href="https://medium.com/reasnov" target="__blank" class="icon-[tabler--brand-medium]"></a>
			<a href="https://linkedin.com/in/reasnov" target="__blank" class="icon-[tabler--brand-linkedin]"></a>
		</div>
	</div>
</div>
