---
// Styles
import "../styles/global.css";

// Components
import Head from "../components/layouts/Head.astro";
import Navbar from "../components/Navbar.astro";

const { ...props } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<Head {...props} />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Plaster&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="p-4 flex flex-col gap-20">
		<Navbar />

		<slot />
	</body>
</html>
