---
// Styles
import "../styles/global.css";

// Components
import Head from "./partials/Head.astro";
import Header from "@components/ui/Header.astro";
import Footer from "@components/ui/Footer.astro";

import "aos/dist/aos.css";

const { ...props } = Astro.props;
const lang = Astro.currentLocale || "en";
---

<!doctype html>
<html lang={lang} class="dark">
	<head>
		<Head {...props} />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Plaster&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="flex flex-col min-h-screen overflow-x-hidden font-mono font-light size-full max-w-screen">
		<Header />

		<main class="container flex flex-col flex-1 gap-8 p-4 mx-auto size-full">
			<slot />
		</main>

		<Footer />

		<script>
			import AOS from "aos";
			AOS.init({
				duration: 800,
				once: true,
				offset: 100,
				easing: "ease-out-cubic",
			});
		</script>
	</body>
</html>
