---
import { config } from "@core/Config";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
	name?: string;
	url?: string;
	size?: string;
}

const lang = Astro.currentLocale || "en";
const { name = config("settings.site_name"), url = getRelativeLocaleUrl(lang, "/"), size = "sm" } = Astro.props;

const sizeClass = size === "lg" ? "text-lg" : "text-sm";
---

<a class={`flex items-center gap-2 group ${sizeClass}`} href={url}>
    <div class="size-6 bg-black text-white dark:bg-white dark:text-black flex items-center justify-center font-black">R</div>
	<span class="font-black uppercase tracking-tighter group-hover:text-primary transition-colors">{name}</span>
</a>