---
const { title, icons } = Astro.props;
---

<div class="flex flex-col w-full">
	<div class="w-full mb-2">
		<span class="text-xs font-bold px-2 py-1 uppercase tracking-widest text-white bg-black dark:text-black dark:bg-white w-fit">{title}</span>
	</div>

	<div class="flex items-center w-full gap-8 p-4 overflow-x-auto flex-nowrap rounded-xl bg-neutral-50 dark:bg-neutral-900/50 border border-neutral-100 dark:border-neutral-800">
		{
			icons.map((icon: { icon: string; name: string }) => (
				<button
					tabindex="0"
					class={`inline-block size-10 md:size-12 aspect-square leading-none shrink-0 transition-all ease-in-out grayscale dark:grayscale opacity-40 dark:opacity-20 hover:opacity-100 hover:grayscale-0 hover:scale-110 active:opacity-100 active:grayscale-0 active:scale-110 ${icon.icon}`}
					title={icon.name}
				>
					{""}
				</button>
			))
		}
	</div>
</div>
