---
import Brand from "./Brand.astro";
import LangSwitcher from "./LangSwitcher.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { trans } from "@core/Translator";

const lang = Astro.currentLocale || "en";
---

<div class="relative shadow-sm navbar border-b border-neutral-200 dark:border-neutral-900 bg-white/90 dark:bg-black/90 backdrop-blur-md sticky top-0 z-50">
	<!-- Main Content -->
	<div class="container flex items-center justify-between gap-8 px-4 mx-auto text-sm font-medium">
		<!-- Menu-Start -->
		<div class="space-x-2 navbar-start">
			<Brand />
		</div>

		<!-- Menu-Center -->
		<div class="space-x-2 navbar-center p-4">
			<a class="text-neutral-500 dark:text-neutral-400 hover:text-black dark:hover:text-white transition-colors hover:underline" href={getRelativeLocaleUrl(lang, "blog")}>
				{trans("nav.blog", {}, lang)}
			</a>
			<span class="text-neutral-300 dark:text-neutral-800">/</span>
			<a class="text-neutral-500 dark:text-neutral-400 hover:text-black dark:hover:text-white transition-colors hover:underline" href="https://medium.com/reasnov">
				{trans("nav.medium", {}, lang)}
			</a>
		</div>

		<!-- Menu-End -->
		<div class="space-x-4 navbar-end flex items-center">
			<ThemeSwitcher />
			<LangSwitcher />
			<div class="flex items-center gap-3 text-neutral-500 dark:text-neutral-400">
				<a href="https://github.com/reasnov" target="__blank" class="icon-[tabler--brand-github] hover:text-black dark:hover:text-white transition-colors"></a>
				<a href="https://x.com/reasnov" target="__blank" class="icon-[tabler--brand-x] hover:text-black dark:hover:text-white transition-colors"></a>
				<a href="https://linkedin.com/in/reasnov" target="__blank" class="icon-[tabler--brand-linkedin] hover:text-black dark:hover:text-white transition-colors"></a>
			</div>
		</div>
	</div>
</div>
