---
import Brand from "./Brand.astro";
import LangSwitcher from "./LangSwitcher.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = Astro.currentLocale || "en";
---

<div class="relative shadow-sm navbar">
	<!-- Main Content -->
	<div class="container flex items-center justify-between gap-8 px-4 mx-auto text-sm font-medium">
		<!-- Menu-Start -->
		<div class="space-x-2 navbar-start">
			<Brand />
		</div>

		<!-- Menu-Center -->
		<div class="space-x-2 navbar-center p-4">
			<a class="text-neutral-600 hover:text-neutral-300 hover:underline" href={getRelativeLocaleUrl(lang, "blog")}>Blog</a>
			<span>/</span>
			<a class="text-neutral-600 hover:text-neutral-300 hover:underline" href="https://medium.com/reasnov"
				>Medium</a
			>
		</div>

		<!-- Menu-End -->
		<div class="space-x-4 navbar-end flex items-center">
			<LangSwitcher />
			<div class="flex items-center gap-2">
				<a href="https://github.com/reasnov" target="__blank" class="icon-[tabler--brand-github]"></a>
				<a href="https://x.com/reasnov" target="__blank" class="icon-[tabler--brand-x]"></a>
				<a href="https://linkedin.com/in/reasnov" target="__blank" class="icon-[tabler--brand-linkedin]"></a>
			</div>
		</div>
	</div>
</div>
