---
---

<button
	id="theme-toggle"
	class="p-1 hover:text-primary transition-colors focus:outline-none"
	aria-label="Toggle theme"
>
	<span id="theme-toggle-dark-icon" class="icon-[tabler--moon] size-4 hidden"></span>
	<span id="theme-toggle-light-icon" class="icon-[tabler--sun] size-4 hidden"></span>
</button>

<script>
	const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
	const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
	const themeToggleBtn = document.getElementById('theme-toggle');

	function updateIcons(theme: string) {
		if (theme === 'dark') {
			themeToggleLightIcon?.classList.remove('hidden');
			themeToggleDarkIcon?.classList.add('hidden');
		} else {
			themeToggleDarkIcon?.classList.remove('hidden');
			themeToggleLightIcon?.classList.add('hidden');
		}
	}

	if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
		updateIcons('dark');
	} else {
		updateIcons('light');
	}

	themeToggleBtn?.addEventListener('click', function() {
		if (localStorage.getItem('color-theme')) {
			if (localStorage.getItem('color-theme') === 'light') {
				document.documentElement.classList.add('dark');
				localStorage.setItem('color-theme', 'dark');
				updateIcons('dark');
			} else {
				document.documentElement.classList.remove('dark');
				localStorage.setItem('color-theme', 'light');
				updateIcons('light');
			}
		} else {
			if (document.documentElement.classList.contains('dark')) {
				document.documentElement.classList.remove('dark');
				localStorage.setItem('color-theme', 'light');
				updateIcons('light');
			} else {
				document.documentElement.classList.add('dark');
				localStorage.setItem('color-theme', 'dark');
				updateIcons('dark');
			}
		}
	});
</script>